[submodule "Source/third-party/fmtlib"]
	path = Source/third-party/fmtlib
	url = git@github.com:fmtlib/fmt.git
[submodule "Source/third-party/backwandcpp"]
	path = Source/third-party/backwandcpp
	url = git@github.com:bombela/backward-cpp.git
[submodule "Source/third-party/llvm"]
	path = Source/third-party/llvm
	url = git@github.com:llvm/llvm-project.git
[submodule "Source/third-party/cxxopts"]
	path = Source/third-party/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
