[submodule "Source/third-party/fmtlib"]
	path = Source/third-party/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "Source/third-party/backwardcpp"]
	path = Source/third-party/backwardcpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "Source/third-party/cxxopts"]
	path = Source/third-party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "Source/third-party/spdlog"]
	path = Source/third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Source/third-party/zip"]
	path = Source/third-party/zip
	url = https://github.com/kuba--/zip.git
[submodule "Source/third-party/digraph"]
	path = Source/third-party/digraph
	url = https://github.com/grame-cncm/digraph.git
[submodule "Source/third-party/doctest"]
	path = Source/third-party/doctest
	url = https://github.com/doctest/doctest.git
